In [1]:
import pandas as pd

In [2]:
xr_spatial_results = pd.read_csv('high_res_data/output/CanalDensity_01.csv')
current_results = pd.read_csv("O:/PRIV/CPHEA/PESD/COR/CORFILES/Geospatial_Library_Projects/StreamCat/Allocation_and_Accumulation/CanalDensity_01.csv")
current_results

,COMID,CatAreaSqKm,CatCount,CatSum,CatPctFull,UpCatAreaSqKm,UpCatCount,UpCatSum,UpCatPctFull,WsAreaSqKm,WsCount,WsSum,WsPctFull
0,718276,2.3103,2567,0.0,100.0,0.0000,NaN,NaN,NaN,2.3103,2567.0,0.0,100.0
1,718808,3.9429,4381,0.0,100.0,0.0000,NaN,NaN,NaN,3.9429,4381.0,0.0,100.0
2,718792,5.8995,6555,0.0,100.0,0.0000,NaN,NaN,NaN,5.8995,6555.0,0.0,100.0
3,718288,2.8125,3125,0.0,100.0,0.0000,NaN,NaN,NaN,2.8125,3125.0,0.0,100.0
4,718882,3.6603,4067,0.0,100.0,0.0000,NaN,NaN,NaN,3.6603,4067.0,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65963,4600087,1.0125,1125,0.0,100.0,4.4127,4903.0,0.0,100.0,5.4252,6028.0,0.0,100.0
65964,4599793,0.0018,2,0.0,100.0,5.4252,6028.0,0.0,100.0,5.4270,6030.0,0.0,100.0
65965,4600101,4.1337,4593,0.0,100.0,0.0000,NaN,NaN,NaN,4.1337,4593.0,0.0,100.0
65966,4599761,3.8799,4311,0.0,100.0,4.1337,4593.0,0.0,100.0,8.0136,8904.0,0.0,100.0
65967,4599755,2.2392,2488,0.0,100.0,0.0000,NaN,NaN,NaN,2.2392,2488.0,0.0,100.0

In [3]:
current_results.columns

Index(['COMID', 'CatAreaSqKm', 'CatCount', 'CatSum', 'CatPctFull',
       'UpCatAreaSqKm', 'UpCatCount', 'UpCatSum', 'UpCatPctFull', 'WsAreaSqKm',
       'WsCount', 'WsSum', 'WsPctFull'],
      dtype='object')

In [7]:
#xr_spatial_results.drop(["UpCatGRIDCODE", "UpCatzone", "UpCatmean", "UpCatmin", "UpCatmax"], axis=1)
xr_spatial_results = xr_spatial_results[['COMID', 'CatAreaSqKm', 'CatCount', 'CatSum', 'UpCatAreaSqKm', 'UpCatCount', 'UpCatSum', 'WsAreaSqKm', 'WsCount', 'WsSum']]
xr_spatial_results

,COMID,CatAreaSqKm,CatCount,CatSum,UpCatAreaSqKm,UpCatCount,UpCatSum,WsAreaSqKm,WsCount,WsSum
0,718276,2.3103,2567.0,0.0,0.0000,NaN,NaN,2.3103,2567.0,0.0
1,718808,3.9429,4381.0,0.0,0.0000,NaN,NaN,3.9429,4381.0,0.0
2,718792,5.8995,6555.0,0.0,0.0000,NaN,NaN,5.8995,6555.0,0.0
3,718288,2.8125,3125.0,0.0,0.0000,NaN,NaN,2.8125,3125.0,0.0
4,718882,3.6603,4067.0,0.0,0.0000,NaN,NaN,3.6603,4067.0,0.0
...,...,...,...,...,...,...,...,...,...,...
65963,4600087,1.0125,1125.0,0.0,4.4127,4903.0,0.0,5.4252,6028.0,0.0
65964,4599793,0.0018,2.0,0.0,5.4252,6028.0,0.0,5.4270,6030.0,0.0
65965,4600101,4.1337,4593.0,0.0,0.0000,NaN,NaN,4.1337,4593.0,0.0
65966,4599761,3.8799,4311.0,0.0,4.1337,4593.0,0.0,8.0136,8904.0,0.0
65967,4599755,2.2392,2488.0,0.0,0.0000,NaN,NaN,2.2392,2488.0,0.0

In [8]:
merged_df = xr_spatial_results.merge(current_results, indicator=True, how='outer')
diff_rows_df = merged_df[merged_df['_merge'] == 'right_only']
diff_rows_df

,COMID,CatAreaSqKm,CatCount,CatSum,UpCatAreaSqKm,UpCatCount,UpCatSum,WsAreaSqKm,WsCount,WsSum,CatPctFull,UpCatPctFull,WsPctFull,_merge
4,185,0.0369,41.0,0.0,8.1954,9106.0,0.0,8.2323,9147.0,0.0,100.0,100.0,100.0,right_only
14,859,3.6945,4105.0,0.0,2.6541,2949.0,0.0,6.3486,7054.0,0.0,100.0,100.0,100.0,right_only
36,901,2.6586,2954.0,0.0,49.5297,55033.0,0.0,52.1883,57987.0,0.0,100.0,100.0,100.0,right_only
37,903,1.3365,1485.0,0.0,44.7795,49755.0,0.0,46.1160,51240.0,0.0,100.0,100.0,100.0,right_only
43,911,5.7141,6349.0,0.0,113.1741,125749.0,0.0,118.8882,132098.0,0.0,100.0,100.0,100.0,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78751,931060006,0.1332,148.0,0.0,39.2139,43571.0,0.0,39.3471,43719.0,0.0,100.0,100.0,100.0,right_only
78754,931060009,0.0081,9.0,0.0,39.2058,43562.0,0.0,39.2139,43571.0,0.0,100.0,100.0,100.0,right_only
78756,931060010,1.8540,2060.0,0.0,15.3774,17086.0,0.0,17.2314,19146.0,0.0,100.0,100.0,100.0,right_only
78761,931070172,7.7058,8562.0,0.0,318.9681,354409.0,0.0,326.6739,362971.0,0.0,100.0,100.0,100.0,right_only
78764,931070173,1.2159,1351.0,0.0,334.3689,371521.0,0.0,335.5848,372872.0,0.0,100.0,100.0,100.0,right_only

In [9]:
changed = diff_rows_df.drop('_merge', axis=1)
changed

,COMID,CatAreaSqKm,CatCount,CatSum,UpCatAreaSqKm,UpCatCount,UpCatSum,WsAreaSqKm,WsCount,WsSum,CatPctFull,UpCatPctFull,WsPctFull
4,185,0.0369,41.0,0.0,8.1954,9106.0,0.0,8.2323,9147.0,0.0,100.0,100.0,100.0
14,859,3.6945,4105.0,0.0,2.6541,2949.0,0.0,6.3486,7054.0,0.0,100.0,100.0,100.0
36,901,2.6586,2954.0,0.0,49.5297,55033.0,0.0,52.1883,57987.0,0.0,100.0,100.0,100.0
37,903,1.3365,1485.0,0.0,44.7795,49755.0,0.0,46.1160,51240.0,0.0,100.0,100.0,100.0
43,911,5.7141,6349.0,0.0,113.1741,125749.0,0.0,118.8882,132098.0,0.0,100.0,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78751,931060006,0.1332,148.0,0.0,39.2139,43571.0,0.0,39.3471,43719.0,0.0,100.0,100.0,100.0
78754,931060009,0.0081,9.0,0.0,39.2058,43562.0,0.0,39.2139,43571.0,0.0,100.0,100.0,100.0
78756,931060010,1.8540,2060.0,0.0,15.3774,17086.0,0.0,17.2314,19146.0,0.0,100.0,100.0,100.0
78761,931070172,7.7058,8562.0,0.0,318.9681,354409.0,0.0,326.6739,362971.0,0.0,100.0,100.0,100.0
78764,931070173,1.2159,1351.0,0.0,334.3689,371521.0,0.0,335.5848,372872.0,0.0,100.0,100.0,100.0

In [10]:
changed.columns

Index(['COMID', 'CatAreaSqKm', 'CatCount', 'CatSum', 'UpCatAreaSqKm',
       'UpCatCount', 'UpCatSum', 'WsAreaSqKm', 'WsCount', 'WsSum',
       'CatPctFull', 'UpCatPctFull', 'WsPctFull'],
      dtype='object')